{% extends 'base.html.twig' %}

{% block title %}Edit Conference{% endblock %}

{% block body %}
    <h1>Edit Conference</h1>

    {{ include('conference/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('conference_index') }}" class="btn btn-dark">back to list</a>

    {{ include('conference/_delete_form.html.twig') }}
{% endblock %}
