{% extends 'base.html.twig' %}

{% block title %}New Conference{% endblock %}

{% block body %}
    <h1>Create new Conference</h1>

    {{ include('conference/_form.html.twig') }}

    <a href="{{ path('conference_index') }}" class="btn btn-dark">back to list</a>
{% endblock %}
